<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'index' %}">Scripting<span class="logo_colour"> Blog</span></a></h1>
          <h2>Just for real geeks ;D </h2>
        </div>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <h1>About Me</h1>
        <h4>{{info.name}}</h4>
        <h5>{{info.f_nac}}</h5>
        <p>{{info.desc}}<br /><a href="https://www.linkedin.com/company/anonymous?originalSubdomain=es">Read more</a></p>
        <h1>Social Networks</h1>
        <ul>
          <li><a href="https://es-es.facebook.com/anonews.co/">Facebook</a></li>
          <li><a href="https://twitter.com/youranonnews">Twitter</a></li>
          <li><a href="https://www.linkedin.com/company/anonymous?originalSubdomain=es">LinkedIn</a></li>
          <li><a href="https://tgram.io/es/group/819/anonyms">Telegram</a></li>
        </ul>
        <ul>
          <li><a title="PayPal" href="https://www.paypal.com/donate?hosted_button_id=D98WKTWYXJNLC"><img src="{% static 'img/website/paypal.png' %}" alt="PayPal" width="180" height="50"/></a></li>
        </ul>
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer"></div>
      <p>Copyright &copy; bysiloxx | HTML5 | CSS | Design from bysiloxx</p>
    </div>
  </div>
</body>
</html>
