{% extends "base.html" %}
{%  load static %}

{% block title %}"Index"{% endblock %}

{% block content %}
      <div id="content">
        <h1>Scripting</h1>
        <p>Scripting is code used to automate processes that would otherwise need to be executed step-by-step by a web developer. Where different kinds of coding languages (such as markup languages like HTML and CSS) are used to tell computers how to display a website, scripting languages are used to give instructions to programs (like websites) that are running on a computer.</p>
        <div id="links_content">
          {% if categoryList %}
            {% for c in categoryList%}
              <h1><a href="{% url 'category' c.id%}">{{ c.name }}</a></h1>
              <h4>{{ c.number_of_scripts }} posts</h4>
              <h3>{{ c.description }}</h3>
            {% endfor %}
          {% else %}
            <h1>ERROR</h1>
          {% endif%}
          </div> 
      </div>
{% endblock %}
   
